<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-royal">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="nocolor">
        <ion-item menu-close href="#/app/mynav/" class="nocolor">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/recipes/new" class="nocolor">
          New Recipe
        </ion-item>
        <ion-item menu-close href="#/app/search" class="nocolor">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/recipes" class="nocolor">
          Recipes
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
