<!-- forms in ionic: https://www.tutorialspoint.com/ionic/ionic_forms.htm -->
<!-- form validation in ionic: https://www.thepolyglotdeveloper.com/2015/08/angularjs-form-validation-in-your-ionic-framework-app/ -->
<!-- using ngPattern to validate numeric input: https://docs.angularjs.org/api/ng/directive/ngPattern -->
<ion-view view-title="New Recipe">
  <ion-content>
    <br/>
    <p>Want to create a new recipe for users to make? Fill out the form below!</p>
    <form name="recipeForm" ng-submit="submitRecipe()" novalidate>
    <div class="list">
   <label class="item item-input item-stacked-label" style="margin-right: 2%; padding-right: 2%">
   <span class="input-label">Name  <span ng-show="recipeForm.name.$error.required" style="font-size: 10pt; color: red">- required</span></span>
   <input type="text" name="name" ng-model="data.name" required>
   </label>

   <label class="item item-input item-stacked-label" style="margin-right: 2%; padding-right: 2%">
   <span class="input-label">Description  <span ng-show="recipeForm.description.$error.required" style="font-size: 10pt; color: red">- required</span></span>
   <input type="text" name="description" ng-model="data.description" required>
   </label>

   <label class="item item-input item-stacked-label" style="margin-right: 2%; padding-right: 2%">
   <span class="input-label">Instructions <span ng-show="recipeForm.instructions.$error.required" style="font-size: 10pt; color: red">- required</span></span>
   <input type="text" name="instructions" ng-model="data.instructions" required>
   </label>

   <label class="item item-input item-stacked-label" style="margin-right: 2%; padding-right: 2%">
   <span class="input-label">Cook Time  <span style="font-size: 10pt; font-style: italic">(numeric) </span><span ng-show="recipeForm.cook_time.$error.required" style="font-size: 10pt; color: red">- required</span></span>
   <input type="number" name="cook_time" ng-model="data.cook_time" ng-pattern="regex" required>
   </label>

   <label class="item item-input item-stacked-label" style="margin-right: 2%; padding-right: 2%">
   <span class="input-label">Cook Time Measurement <span ng-show="recipeForm.quantity.$error.required" style="font-size: 10pt; color: red">- required</span></span>
   <input type="text" name="quantity" ng-model="data.quantity" required>
   </label>

   <label class="item item-input item-stacked-label" style="margin-right: 2%; padding-right: 2%">
   <span class="input-label">Serving Size <span style="font-size: 10pt; font-style: italic">(numeric) </span><span ng-show="recipeForm.serving_size.$error.required" style="font-size: 10pt; color: red">- required</span></span>
   <input type="number" name="serving_size" ng-model="data.serving_size" ng-pattern="regex" required>
   </label>

   <!-- Dynamically adding items to form: http://stackoverflow.com/questions/31579909/add-more-button-for-generating-dynamic-form-inputs-using-ionic-framework -->
  <!--  <label class="item item-input item-stacked-label">
   <span class="input-label">Ingredients</span>
   <p>Structure: quantity measurement name</p>
   <p id="italic">Example: 1 tbsp water</p>
   </label>
   <div class="list list-inset">
   <div class="item-input" ng-repeat="input in inputs">
   <label class="item-input-wrapper">
    <input type="text" ng-model="input.value" />
    </label>
    <button ng-if="$index == inputs.length - 1" ng-click="addInput()" class="button button-small button-balanced" style="margin-right: 2%"><b>+</b></button>
    <button ng-if="$index != inputs.length - 1" ng-click="removeInput($index)" class="button button-small button-assertive"  style="margin-right: 2%">
    <b>-</b></button>
    </div></div> -->
   <br/>
   <div class="padding">
   <center><button class="button" ng-disabled="recipeForm.$invalid">Submit</button></center>
   </div>
</div>
</form>
  </ion-content>
</ion-view>
