<ion-view title="Welcome to Recipebook!">
  <ion-content>

  <br/>
  <div id="greeting">
  <h4>Welcome!</h4>
  <p>You seem to be located in {{fullAddress.address.city}}, {{fullAddress.address.state}}. 
  <br/>Please consider submitting a local recipe!</p>
  </div>
  <div id="center">
  <div class="list list-inset">
  <div class="item item-icon-left" ng-click="gotorecipes()"><i class="icon ion-fork">Recipes</i></div>
  <div class="item item-icon-left"><a ng-href="#/app/recipes/new" class="dark"><i class="icon ion-ios-plus">Add Recipe</i></a></div>
  <!-- <div class="item item-icon-left"><a ng-href="#/app/search" class="dark"><i class="icon ion-ios-search">Search</i></a></div> -->
  </div>
  <div>
      <a href="" ng-click="googleLogin()"><button>Login With Google</button></a>
      <span>{{details}}</span>
  </div>
  </div>
  </ion-content>
</ion-view>