<ion-view view-title="">
<ion-nav-buttons side ="right">
      <a href="#/app/mynav"><button class="button">
         Home
      </button></a>
   </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="item">
        <h2><b>{{recipe.name}}</b></h2>
        <h3>{{recipe.description}}</h3>
        <p>Cook time: {{recipe.cook_time}} {{recipe.quantity}}</p>
        <p>Serving size: {{recipe.serving_size}}</p>

      </div>
      <div class="item item-body">
      <h3><b>Instructions</b></h3>
        <p>{{recipe.instructions}}</p>
      </div>
      <div class="item item-body">
      <div ng-if="ingredients.length > 0">
      	<h3><b>Ingredients</b></h3>
      	<p ng-repeat="ingredient in ingredients">
      	{{ingredient.quantity}} {{ingredient.measurement}} {{ingredient.name}}
      	</p>
      </div>
      </div>
    </div>

    <div class="manip_buttons" ng-if="userId == recipe.user_id">
    <center>
    <button class="button button-outline button-royal" ng-click="deleteRecipe()">Delete Recipe</button>
    <a href="#/app/recipes/{{recipe.recipe_id | number:0}}/edit"><button class="button button-outline button-royal">Edit Recipe</button></a>
    </center>

    </div>

  </ion-content>
</ion-view>