<ion-view view-title="">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h2><b>{{recipe.name}}</b></h2>
        <h3>{{recipe.description}}</h3>
        <p>Cook time: {{recipe.cook_time}} {{recipe.quantity}}</p>
        <p>Serving size: {{recipe.serving_size}}</p>

      </div>
      <div class="item item-body">
      <h3><b>Instructions</b></h3>
        <p>{{recipe.instructions}}</p>
      </div>
      <div class="item item-body">
      <div ng-if="ingredients.length > 0">
      	<h3><b>Ingredients</b></h3>
      	<p ng-repeat="ingredient in ingredients">
      	{{ingredient.quantity}} {{ingredient.measurement}} {{ingredient.name}}
      	</p>
      </div>
      </div>
    </div>

    <div class="delete_button">
    <center>
    <button class="button button-outline button-positive" ng-click="deleteRecipe()">Delete Recipe</button>
    </center>
    </div>
  </ion-content>
</ion-view>