/* Empty. Add your own CSS if you like */
/* setting background color of app: https://forum.ionicframework.com/t/setting-background-for-entire-app/2763/4;*/
.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #dddaf2;
}

.bordered {
	border: 1px solid #eceaf2;
}

.nocolor {
	background-color: #fff;
}