/* Empty. Add your own CSS if you like */
/* setting background color of app: https://forum.ionicframework.com/t/setting-background-for-entire-app/2763/4;*/
.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #dddaf2;
}

.bordered {
	border: 1px solid #eceaf2;
}

.nocolor {
	background-color: #fff;
}

.inset {
	margin-left: 4%;
}

#italic {
	font-style: italic;
}

#greeting, h4 {
	text-align: center;
	color: #444444;
}

#center .item {
	/*background-color: #fff;*/
	border: 1px solid #fff;
	padding-right: 40px;
	padding: 30px;
}

#center {
	margin: auto;
	width: 65%;
}

#center .item:hover {
	background-color: #fff;
}